prepare:
  slides_dir: 'D:\pathology-multitask-project\camelyon16\images'
  masks_dir: 'D:\pathology-multitask-project\camelyon16\masks'
  annotations_dir: null
  manifest_path: data/processed/patch_manifest.csv
  patch_level: 0
  patch_size: 256
  patch_stride: 256
  tissue_level: null
  min_tissue: 0.5
  pos_threshold: 0.5
  neg_threshold: 0.0
  neg_keep_prob: 1.0
  seed: 42
  groups: Tumor
  max_patches_per_slide: null
  mask_suffix: _mask.tif
  prefer_masks: true
